<table class="table table-striped table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Firstname</th>
      <th>Lastname</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students" (click)="selectStudent(student.id)">
      <td>{{student.id}}</td>
      <td>{{student.firstname}}</td>
      <td>{{student.lastname}}</td>
    </tr>
  </tbody>
</table>
<app-student-card *ngIf="showCard" [id]="selectedStudentId" (close)="showCard=false"></app-student-card>
