.app-modal {
  /* detach from rest of the document */
  position: fixed;

  /* center */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  /* ensure in front of rest of page -- increase as needed */
  z-index: 1001;

  /* visual illusion of being in front -- alter to taste */
  box-shadow: rgba(0,0,0,0.4) 10px 10px 4px;

  /* visual illusion of being a solid object -- alter to taste */
  background-color: white;
  border: 3px solid black;

  /* visual preference of don't crowd the contents -- alter to taste */
  padding: 50px;
}
.app-overlay {
  /* detach from document */
  position: fixed;

  /* ensure in front of rest of page except modal */
  z-index: 1000;

  /* fill screen to catch mice */
  top: 0;
  left: 0;
  width: 9999px;
  height: 9999px;

  /* dim screen 20% -- alter to taste */
  opacity: 0.2;
  background-color: black;
}
