<div class="app-modal">
  <div *ngIf="student">
    <h3>{{student.firstname + ' ' + student.lastname}}</h3>
    <table>
      <thead>
      <tr>
        <th class="text-align:center" colspan="2">
          <div class="btn btn-primary" (click)="addRow()">Добавить класс</div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let c of courses">
        <td><input class="form-control form-control-sm" [(ngModel)]="c.name"/></td>
        <td><div class="btn btn-danger" (click)="deleteRow(c)"><i class="fa fa-trash"></i></div></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="btn btn-default" (click)="cancel()">Close</div>
  <div *ngIf="student" class="btn btn-success" (click)="save()">Save</div>
</div>
<div class="app-overlay"></div>
